Host <alias>
  HostName <IP or MagicDNS>
  User root
  IdentityFile ~/.ssh/<key>.pub
  IdentitiesOnly yes

Host <alias>-rescue
  HostName <Same IP or MagicDNS>
  User root
  IdentityAgent none
  IdentityFile ~/.ssh/homelab-break-glass
  IdentitiesOnly yes

